.button-main{
    text-align: center;
    margin: 20px 0;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #009688;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-size: 15px;
    text-transform: uppercase;
    width: 100%;
    padding: 15px;
    transition: transform .5s;
    &:hover {
      color: #fff;
      background-color: #009688;
      transform: translateY(-10px);
  
    }
  }