.start {
    float: left;
};

.middle {
    text-align: center;
};

.end {
    float: right;
};

.upper {
    text-transform: uppercase;
};

.pointer {
    cursor: pointer;
};

.modal-content{
    margin-top: 90px;
}

.flex {
    display: flex;
}
.justify-content-center{
    display: flex;
    justify-content: center;
}

.border-left{
    border-left: 1px solid;
}

.input-search {
    background-color: rgb(233, 236, 239);
    border-radius: 4px;
};

.btn-default {
    margin: 0px;
    padding: 6px;
    width: 44px;
    height: 32px;
};

.filter-input{
    height: 36.5px;
    width: 250px;
    margin-left: 0px;
    padding-left: 0px;
};

.sideBar-close {
    width: calc(100vw - 105px);
    margin-left: 85px;
    margin-top: 85px;
    @media (min-width: 1330px) and (max-width: 1900px) {
      margin-top: 80px;
    }
};
  
.sideBar-open {
    width: calc(100vw - 240px);
    margin-left: 220px;
    margin-top: 85px;
};

@mixin desktop {
    @media (min-width: 1330px) and (max-width: 1900px) {
        @content;
    }
};

@mixin desktopHD {
    @media (min-width: 1901px) {
        @content;
    }
};

@mixin smartPhone {
    @media (max-width: 600px) {
        @content;
    }
};

$spacewidth : (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100);

@each $space in $spacewidth {.width-percent-#{$space} {width: #{$space}#{"%"} !important;}
}
$spacesizes: (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100
);
@each $space in $spacesizes {.fontsz-#{$space} {font-size: #{$space}px !important;}
}
$spaceamounts: (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,110,120,134,150,470,820,848
);

$sides: (top, bottom, left, right);
.marginSelect {margin-left: -600px;
};

@each $space in $spaceamounts {
    @each $side in $sides {
        .m-#{$space} {margin: #{$space}px !important;}
        .mto-#{$space} {margin: #{$space}px auto !important;}
        .m#{str-slice($side, 0, 1)}-#{$space} {margin-#{$side}: #{$space}px !important;}
        .mlr-#{$space} {margin: 0px #{$space}px !important;}
        .mtb-#{$space} {margin: #{$space}px 0px !important;}
        .p-#{$space} {padding: #{$space}px !important;}
        .p#{str-slice($side, 0, 1)}-#{$space} {padding-#{$side}: #{$space}px !important;}
        .plr-#{$space} {padding: 0px #{$space}px !important;}
        .ptb-#{$space} {padding: #{$space}px 0px !important;}
    }
};