.text-title{
    color: #008000; font-family: 'times new roman', times, serif;
}
.text-body{
    width: 80%;
    margin: 0 auto;
}

li{
    margin-left: 25px;
    line-height: 25px;
}
.text-note {
    color: #003366; 
    font-family: 'times new roman', times, serif; 
    font-size: 14pt;
}