.background-app {
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-attachment: fixed;
    // background-position: center;
    .header-app {
        
    }
    .body-app{
        padding: 10px;
        padding-top: 77px;
        padding-bottom: 40px;
        width: 99%;
        display: block;
        margin: 0 auto;
    }
    .footer-app {
        
    }
}