.camera-app{
    width: 85%;
    margin: 15px auto;
}

.box-1{
    border-left: 1px solid;
    padding-left: 25px;
    padding-top: 7px;
    padding-bottom: 15px;
    font-family: 'times new roman', times, serif;
    font-size: 120%;
    font-style: italic;
    color: #282828;
    .text-review{
        font-size: 1.1em;
    }
}
.text-li{
    font-size: 0.9em;
}